@media screen and (min-width:1024px) and (max-width:1200px) {
	$mainColor: #81d4fa;
	$shadowColor: #5a94af;
	$mainColor2: #e8645a;
	$shadowColor2: #e2534b;
	$bgColor: #f3f3f3;
	$bgColor2: #ececec;

	header {
		.wrapper {
			width: 900px;
			margin: 0 auto;
			.logo {
				margin-top: 15px;
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
			}
			.mainMenu {
				margin-top: 20px;
				ul {
					li {
						font-size: 10px;
					}
				}
			}
		}
	}
	.slider {
		a {
			.arrowLeft:before {
				top: 150px;
				padding: 14px 13px 11px 7px;
			}
			.arrowRight:after {
				top: 150px;
				padding: 14px 7px 11px 13px;
			}
		}
		img {
			height: 90%;
		}
	}
	.wrapper {
		width: 900px;
		margin: 0 auto;
		.callBack {
			width: 370px;
			h2 {
				font-size: 25px;
				margin-top: 30px;
			}
			h3 {
				font-size: 15px;
			}
			form {
				input {
					width: 245px;
					height: 44px;
					padding-left: 60px;
					margin-top: 25px;
				}
				span {
					bottom: 42px;
					right: 140px;
				}
			}
			p {
				font-size: 13px;
				margin-top: -18px;
			}
			button {
				color: white;
				font-size: 20px;
				padding: 15px 54px;
				margin-bottom: 24px;
			}
		}
	}
	article {
		.wrapper {
			width: 900px;
			margin: 0 auto;
			margin-top: 35px;
			h1 {
				font-size: 25px;
			}
			a {
				right: 30px;
				bottom: 75px;
				padding: 15px 40px;
			}
		}
	}
	.blocks {
		margin-top: 40px;
		.wrapper {
			width: 900px;
			margin: 0 auto;
			article {
				width: 210px;
				margin-right: 20px;
				margin-bottom: 60px;
				a {
					margin-top: 10px;
					padding: 18px 30px;
				}
				&:last-child {
					margin-top: -10px;
				}
			}
		}
	}
	.gallery {
		height: 350px;
		.wrapper {
			width: 900px;
			margin: 0 auto;
			article {
				h1 {
					padding-top: 60px;
				}
			}
			.left {
				top: 215px;
				img {
					width: 300px;
				}
			}
			.center {
				img {
					width: 400px;
				}
			}
			.right {
				bottom: 200px;
				img {
					width: 300px;
				}
			}
		}
	}
	.economy {
		margin-top: 130px;
		.wrapper {
			width: 900px;
			margin: 0 auto;
			aside {
				&.left {
					width: 190px;
				}
			}
			aside {
				&.center {
					width: 52%;
					margin-left: 28px;
					margin-top: -150px;
					article {
						width: 100px;
						margin-left: 17px;
						p {
							margin-left: 25px;
						}
						h3 {
							font-size: 13px;
							margin-top: 20px;
							padding-left: 12px;
						}
					}
					h3 {
						margin-bottom: 20px;
					}
				}
			}
			aside {
				&.right {
					width: 175px;
					margin-top: -145px;
					p {
						&:after {
							top: 155px;
							left: 25px;
						}
					}
				}
			}
		}
	}
	footer {
		.wrapper {
			width: 900px;
			margin: 0 auto;
			.logo {
				margin-top: 25px;
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
				p {
					width: 200px;
				}
			}
			.footerMenu {
				margin-top: 35px;
				margin-left: 30px;
				h4 {
					font-size: 15px;
				}
				ul {
					margin-top: 30px;
					margin-left: 30px;
				}
			}
			.contacts {
				margin-top: 35px;
				margin-left: 100px;
				h4 {
					font-size: 15px;
					line-height: 24px;
				}
				p {
					margin-top: 30px;
				}
			}
		}
		.socials {
			.wrapper {
				width: 900px;
				margin: 0 auto;
				ul {
					li {
						padding: 9px 13px 7px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	$mainColor: #81d4fa;
	$shadowColor: #5a94af;
	$mainColor2: #e8645a;
	$shadowColor2: #e2534b;
	$bgColor: #f3f3f3;
	$bgColor2: #ececec;

	header {
		.wrapper {
			width: 650px;
			margin: 0 auto;
			.logo {
				margin-top: 15px;
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
			}
			.mainMenu {
				margin-top: 20px;
				ul {
					li {
						font-size: 10px;
						margin-left: 3px;
						&:last-child {
							margin-left: 20px;
						}
						a {
							padding: 5px;
						}
					}
				}
			}
		}
	}
	.slider {
		a {
			.arrowLeft:before {
				top: 100px;
				padding: 10px 9px 7px 3px;
			}
			.arrowRight:after {
				top: 100px;
				padding: 10px 3px 7px 9px;
			}
		}
		img {
			height: 90%;
		}
	}
	.wrapper {
		width: 650px;
		margin: 0 auto;
		.callBack {
			width: 300px;
			h2 {
				font-size: 20px;
				margin-top: 20px;
			}
			h3 {
				font-size: 12px;
			}
			form {
				input {
					width: 180px;
					height: 30px;
					font-size: 25px;
					padding-left: 40px;
					margin-top: 20px;
					margin-left: 4px;
				}
				span {
					font-size: 25px;
					bottom: 32px;
					right: 105px;
				}
			}
			p {
				font-size: 13px;
				margin-top: -25px;
			}
			button {
				font-size: 15px;
				padding: 10px 40px;
				margin-bottom: 20px;
			}
		}
	}
	article {
		.wrapper {
			width: 650px;
			margin: 0 auto;
			margin-top: 35px;
			h1 {
				font-size: 20px;
				width: 350px;
			}
			p {
				font-size: 10px;
			}
			a {
				right: 30px;
				bottom: 80px;
				padding: 15px 20px;
			}
		}
	}
	.blocks {
		margin-top: 40px;
		.wrapper {
			width: 650px;
			margin: 0 auto;
			article {
				width: 300px;
				margin-right: 20px;
				margin-bottom: 60px;
				a {
					margin-top: 25px;
					padding: 18px 30px;
				}
				&:nth-child(2) {
					margin-top: -10px;
					float: right;
					margin-right: 0;
				}
				&:nth-child(3) {
					margin-top: -10px;
					a {
						margin-top: 46px;
					}
				}
			}
		}
	}
	.gallery {
		height: 300px;
		.wrapper {
			width: 650px;
			margin: 0 auto;
			article {
				h1 {
					padding-top: 50px;
					font-size: 30px;
				}
			}
			.left {
				top: 206px;
				img {
					width: 200px;
				}
			}
			.center {
				img {
					width: 300px;
				}
			}
			.right {
				bottom: 135px;
				img {
					width: 200px;
				}
			}
		}
	}
	.economy {
		margin-top: 100px;
		.wrapper {
			width: 650px;
			margin: 0 auto;
			aside {
				&.left {
					float: none;
					width: 190px;
				}
			}
			aside {
				&.center {
					float: right;
					width: 60%;
					margin-top: -210px;
					article {
						width: 100px;
						margin-left: 55px;
						p {
							margin-left: 25px;
						}
						h3 {
							font-size: 11px;
							margin-top: 20px;
							padding-left: 21px;
						}
					}
					h3 {
						margin-bottom: 0px;
					}
				}
			}
			aside {
				&.right {
					float: none;
					width: 175px;
					margin-top: 20px;
					margin-bottom: 20px;
					p {
						margin-top: 10px;
						&:after {
							top: 155px;
							left: 25px;
						}
					}
				}
			}
		}
	}
	footer {
		.wrapper {
			width: 650px;
			margin: 0 auto;
			.logo {
				margin-top: 25px;
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
				p {
					width: 133px;
				}
			}
			.footerMenu {
				float: left;
				margin-top: 40px;
				margin-left: 0px;
				h4 {
					font-size: 15px;
				}
				ul {
					margin-top: 30px;
					margin-left: 30px;
				}
			}
			.contacts {
				float: right;
				margin-top: -143px;
				margin-left: 100px;
				h4 {
					font-size: 15px;
					line-height: 24px;
				}
				p {
					margin-top: 24px;
				}
			}
		}
		.socials {
			.wrapper {
				width: 650px;
				margin: 0 auto;
				ul {
					li {
						padding: 9px 13px 7px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:480px) and (max-width:768px) {
	$mainColor: #81d4fa;
	$shadowColor: #5a94af;
	$mainColor2: #e8645a;
	$shadowColor2: #e2534b;
	$bgColor: #f3f3f3;
	$bgColor2: #ececec;

	header {
		.wrapper {
			width: 400px;
			margin: 0 auto;
			.logo {
				margin-top: 10px;
				margin-bottom: 0px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
			}
			.mainMenu {
				margin-top: 0;
				margin-bottom: 20px;
				ul {
					li {
						font-size: 8px;
						margin-left: 0px;
						&:last-child {
							margin-left: 20px;
						}
						a {
							padding: 5px;
						}
					}
				}
			}
		}
	}
	.slider {
		a {
			.arrowLeft:before {
				top: 50px;
				background: none;
				box-shadow: none;
			}
			.arrowRight:after {
				top: 50px;
				background: none;
				box-shadow: none;
			}
		}
		img {
			height: 90%;
		}
	}
	.wrapper {
		width: 400px;
		margin: 0 auto;
		.callBack {
			width: 150px;
			h2 {
				font-size: 10px;
				margin-top: 10px;
			}
			h3 {
				font-size: 6px;
			}
			form {
				input {
					width: 100px;
					height: 20px;
					font-size: 15px;
					padding-left: 20px;
					margin-top: 10px;
					margin-left: 4px;
				}
				span {
					font-size: 15px;
					bottom: 21px;
					right: 67px;
				}
			}
			p {
				font-size: 7px;
				margin-top: -15px;
			}
			button {
				font-size: 10px;
				padding: 10px 10px;
				margin-bottom: 11px;
				margin-top: 10px;
			}
		}
	}
	article {
		.wrapper {
			width: 400px;
			margin: 0 auto;
			margin-top: 35px;
			h1 {
				font-size: 20px;
				padding-top: 20px;
			}
			p {
				width: 40%;
				padding-bottom: 20px;
			}
			a {
				right: 30px;
				bottom: 75px;
				padding: 10px 30px;
			}
		}
	}
	.blocks {
		margin-top: 40px;
		.wrapper {
			width: 400px;
			margin: 0 auto;
			article {
				width: 300px;
				margin-left: 50px;
				margin-bottom: 40px;
				a {
					margin-top: 25px;
					padding: 18px 30px;
				}
				&:nth-child(2) {
					margin-top: -10px;
					float: left;
					margin-right: 0;
				}
				&:nth-child(3) {
					margin-top: -10px;
					a {
						margin-top: 46px;
					}
				}
				&:nth-child(4) {
					float: left;
				}
			}
		}
	}
	.gallery {
		height: 300px;
		.wrapper {
			width: 400px;
			margin: 0 auto;
			article {
				h1 {
					padding-top: 50px;
					font-size: 30px;
				}
			}
			.left {
				top: 230px;
				img {
					width: 100px;
				}
			}
			.center {
				img {
					width: 200px;
				}
			}
			.right {
				bottom: 60px;
				img {
					width: 100px;
				}
			}
		}
	}
	.economy {
		margin-top: 100px;
		.wrapper {
			width: 400px;
			margin: 0 auto;
			aside {
				&.left {
					width: 190px;
					h4 {
						margin-bottom: 20px;
					}
				}
			}
			aside {
				&.center {
					float: right;
					width: 50%;
					margin-top: -195px;
					margin-bottom: 20px;
					article {
						width: 100px;
						margin-left: 40px;
						p {
							margin-left: 25px;
						}
						h3 {
							font-size: 11px;
							margin-top: 20px;
							padding-left: 21px;
						}
					}
					h3 {
						margin-bottom: 0px;
					}
				}
			}
			aside {
				&.right {
					float: none;
					width: 190px;
					margin-top: 20px;
					margin-bottom: 20px;
					p {
						margin-top: 10px;
						&:after {
							top: 155px;
							left: 25px;
						}
					}
				}
			}
		}
	}
	footer {
		.wrapper {
			width: 400px;
			margin: 0 auto;
			.logo {
				width: 200px;
				margin-top: 25px;
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 87px;
						margin-top: -7px;
					}
				}
				p {
					width: 133px;
				}
			}
			.footerMenu {
				width: 200px;
				margin-top: 40px;
				margin-left: 0px;
				h4 {
					font-size: 15px;
				}
				ul {
					margin-top: 30px;
					margin-left: 30px;
				}
			}
			.contacts {
				float: left;
				margin-top: 0px;
				margin-left: 100px;
				h4 {
					font-size: 15px;
					line-height: 24px;
				}
				p {
					margin-top: 24px;
				}
			}
		}
		.socials {
			.wrapper {
				width: 400px;
				margin: 0 auto;
				ul {
					li {
						padding: 9px 10px 7px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:240px) and (max-width:480px) {
	$mainColor: #81d4fa;
	$shadowColor: #5a94af;
	$mainColor2: #e8645a;
	$shadowColor2: #e2534b;
	$bgColor: #f3f3f3;
	$bgColor2: #ececec;

	header {
		.wrapper {
			width: 270px;
			margin: 0 auto;
			.logo {
				margin-top: 30px;
				margin-bottom: 0px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 80px;
						margin-top: -7px;
					}
				}
			}
			.mainMenu {
				margin-top: 0;
				margin-bottom: 20px;
				ul {
					li {
						text-align: right;
						display: block;
						font-size: 8px;
						margin-top: 5px;
						margin-bottom: 5px;
						&:last-child {
							margin-left: 20px;
						}
						a {
							&:hover, &.active {
								text-decoration: underline;
								background: none;
								box-shadow: none;
								border-radius: 0px;
							}
						}
						&:last-child {
							margin-left: 0px;
							a {
								background: none;
								box-shadow: none;
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
	.slider {
		a {
			.arrowLeft:before {
				top: 20px;
				background: none;
				box-shadow: none;
			}
			.arrowRight:after {
				top: 20px;
				background: none;
				box-shadow: none;
			}
		}
		img {
			height: 90%;
		}
		.toggleSlider {
			i {
				width: 30px;
			}
		}
	}
	.wrapper {
		width: 270px;
		margin: 0 auto;
		.callBack {
			position: static;
			margin-top: 120px;
			float: none;
			width: 270px;
			h2 {
				font-size: 15px;
				margin-top: 10px;
			}
			h3 {
				font-size: 10px;
			}
			form {
				input {
					width: 190px;
					height: 20px;
					font-size: 15px;
					padding-left: 30px;
					margin-top: 10px;
					margin-left: 4px;
				}
				span {
					font-size: 15px;
					bottom: 21px;
					right: 110px;
				}
			}
			p {
				font-size: 10px;
				margin-top: -15px;
			}
			button {
				font-size: 10px;
				padding: 10px 40px;
				margin-bottom: 11px;
				margin-top: 10px;
			}
		}
	}
	article {
		.wrapper {
			width: 270px;
			margin: 0 auto;
			margin-top: 15px;
			h1 {
				width: 100%;
				font-size: 15px;
				padding: 10px 10px 5px 10px;
			}
			p {
				width: 100%;
				padding: 0px 10px 20px 10px;
			}
			a {
				right: 85px;
				bottom: 15px;
				padding: 10px 10px;
				font-size: 14px;
			}
		}
	}
	.blocks {
		margin-top: 40px;
		.wrapper {
			width: 270px;
			margin: 0 auto;
			article {
				width: 270px;
				margin-left: 0px;
				margin-bottom: 40px;
				a {
					margin-top: 25px;
					padding: 18px 30px;
				}
				&:nth-child(4) {
					float: left;
					margin-top: 10px;
				}
			}
		}
	}
	.gallery {
		height: 320px;
		.wrapper {
			width: 270px;
			margin: 0 auto;
			article {
				h1 {
					padding-top: 50px;
					font-size: 30px;
				}
			}
			.left {
				top: 230px;
				img {
					width: 100px;
				}
			}
			.center {
				top: 50px;
				img {
					width: 150px;
				}
			}
			.right {
				bottom: 90px;
				img {
					width: 100px;
				}
			}
		}
	}
	.economy {
		margin-top: 100px;
		.wrapper {
			width: 270px;
			margin: 0 auto;
			aside {
				&.left {
					width: 270px;
					margin-left: 50px;
					h4 {
						margin-bottom: 10px;
					}
				}
			}
			aside {
				&.center {
					float: left;
					width: 270px;
					margin-top: 20px;
					margin-left: 0px;
					margin-bottom: 20px;
					article {
						width: 100px;
						margin-left: 20px;
						p {
							margin-left: 25px;
						}
						h3 {
							font-size: 11px;
							margin-top: 20px;
							padding-left: 21px;
						}
					}
					h3 {
						margin-bottom: 0px;
					}
				}
			}
			aside {
				&.right {
					float: none;
					width: 270px;
					margin-top: 20px;
					margin-bottom: 20px;
					h4 {
						text-align: center;
					}
					p {
						text-align: center;
						margin-top: 10px;
						&:after {
							top: 105px;
							left: 60px;
						}
					}
					a {
						margin-left: 90px;
					}
				}
			}
		}
	}
	footer {
		.wrapper {
			width: 270px;
			margin: 0 auto;
			.logo {
				margin-top: 25px;
				margin-bottom: 0px;
				a {
					h1 {
						font-size: 20px;
					}
					p {
						font-size: 17px;
						margin-left: 80px;
						margin-top: -7px;
					}
				}
				p {
					margin-top: 0;
					width: 270px;
				}
			}
			.footerMenu {
				width: 270px;
				margin-top: 10px;
				margin-left: 0px;
				h4 {
					font-size: 15px;
				}
				ul {
					margin-top: 10px;
					margin-left: 20px;
				}
			}
			.contacts {
				float: left;
				margin-top: 10px;
				margin-left: 10px;
				h4 {
					font-size: 15px;
					line-height: 24px;
				}
				p {
					margin-top: 24px;
				}
			}
		}
		.socials {
			.wrapper {
				width: 270px;
				margin: 0 auto;
				ul {
					li {
						padding: 9px 10px 7px;
					}
				}
			}
		}
	}
}