header, nav, section, article, aside, footer {
  display: block; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 13px;
  background-color: #f3f3f3; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.wrapper, header .wrapper, .blocks .wrapper, .gallery .wrapper, .economy .wrapper, footer .wrapper, footer .socials .wrapper {
  width: 1170px;
  margin: 0 auto; }

header {
  background: #81d4fa url("..//images/pathTop.png") repeat-x center bottom; }
  header .wrapper .logo {
    float: left;
    margin-top: 19px;
    margin-bottom: 24px; }
    header .wrapper .logo a h1 {
      font-size: 30px;
      color: white;
      font-family: Micra;
      font-weight: bold; }
    header .wrapper .logo a p {
      color: white;
      font-size: 25px;
      font-family: RobotoLight;
      letter-spacing: 1px;
      margin-left: 124px;
      margin-top: -9px; }
  header .wrapper .mainMenu {
    margin-top: 34px;
    float: right; }
    header .wrapper .mainMenu ul li {
      display: inline-block;
      color: white;
      font-size: 15px;
      font-weight: 400;
      margin-left: 8px;
      text-transform: uppercase; }
      header .wrapper .mainMenu ul li a {
        padding: 9px; }
        header .wrapper .mainMenu ul li a:hover, header .wrapper .mainMenu ul li a.active {
          background: #6ca9bf;
          box-shadow: 0 -3px #5a94af inset;
          border-radius: 6px; }
        header .wrapper .mainMenu ul li a:active {
          background: #5a94af; }
      header .wrapper .mainMenu ul li:last-child {
        margin-left: 100px; }
        header .wrapper .mainMenu ul li:last-child a {
          background: none;
          box-shadow: none;
          padding: 0; }

.slider {
  width: 100%;
  position: absolute; }
  .slider a .arrowLeft:before {
    content: url("..//images/arrowLeft.png");
    position: absolute;
    top: 220px;
    left: 0;
    background: #e8645a;
    box-shadow: 0 -3px #e2534b inset;
    padding: 19px 17px 15px 11px;
    border-radius: 0 6px 6px 0; }
  .slider a .arrowRight:after {
    content: url("..//images/arrowRight.png");
    position: absolute;
    top: 220px;
    right: 0;
    background: #e8645a;
    box-shadow: 0 -3px #e2534b inset;
    padding: 19px 11px 15px 17px;
    border-radius: 6px 0 0 6px; }
  .slider .toggleSlider {
    text-align: center; }
    .slider .toggleSlider i {
      display: inline-block;
      margin-top: 13px;
      margin-right: 10px;
      background: #b0b8b9;
      width: 60px;
      height: 5px;
      cursor: pointer; }
      .slider .toggleSlider i.active, .slider .toggleSlider i:hover {
        background: #e8645a; }
  .slider img {
    width: 100%; }

.callBack {
  position: relative;
  width: 470px;
  background-color: rgba(38, 50, 56, 0.5);
  border-radius: 5px;
  float: right;
  text-align: center; }
  .callBack h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 52px; }
  .callBack h3 {
    color: #c5c5c5;
    font-size: 18px; }
  .callBack form input {
    width: 330px;
    height: 54px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: rgba(38, 50, 56, 0);
    color: lightgrey;
    font-size: 30px;
    padding-left: 75px;
    margin-top: 34px; }
  .callBack form span {
    color: lightgrey;
    display: inline-block;
    font-size: 30px;
    margin-left: 39px;
    position: relative;
    bottom: 47px;
    right: 170px; }
  .callBack p {
    color: white;
    font-size: 16px;
    margin-top: -12px; }
  .callBack button {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background: #e8645a;
    box-shadow: 0 -6px #e2534b inset;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 18px 84px;
    margin-top: 20px;
    margin-bottom: 86px; }
    .callBack button:active {
      box-shadow: 0 -6px #e8645a inset; }

article .wrapper, article .blocks .wrapper, .blocks article .wrapper, article .gallery .wrapper, .gallery article .wrapper, article .economy .wrapper, .economy article .wrapper, article footer .socials .wrapper, footer .socials article .wrapper {
  margin-top: 35px;
  background: #ececec;
  border-radius: 5px; }
  article .wrapper h1, article .blocks .wrapper h1, .blocks article .wrapper h1, article .gallery .wrapper h1, .gallery article .wrapper h1, article .economy .wrapper h1, .economy article .wrapper h1, article footer .socials .wrapper h1, footer .socials article .wrapper h1 {
    color: #7f8c8c;
    font-size: 30px;
    padding-top: 27px;
    padding-left: 27px; }
  article .wrapper p, article .blocks .wrapper p, .blocks article .wrapper p, article .gallery .wrapper p, .gallery article .wrapper p, article .economy .wrapper p, .economy article .wrapper p, article footer .socials .wrapper p, footer .socials article .wrapper p {
    color: #777777;
    font-size: 13px;
    padding-top: 9px;
    padding-bottom: 27px;
    padding-left: 27px; }
  article .wrapper a, article .blocks .wrapper a, .blocks article .wrapper a, article .gallery .wrapper a, .gallery article .wrapper a, article .economy .wrapper a, .economy article .wrapper a, article footer .socials .wrapper a, footer .socials article .wrapper a {
    color: white;
    font-size: 20px;
    position: relative;
    right: 100px;
    bottom: 80px;
    float: right;
    background: #e8645a;
    box-shadow: 0 -6px #e2534b inset;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 15px 51px; }
    article .wrapper a:active {
      box-shadow: 0 -6px #e8645a inset; }

.blocks {
  margin-top: 60px; }
  .blocks .wrapper article {
    width: 270px;
    height: 310px;
    float: left;
    margin-right: 30px;
    margin-bottom: 74px;
    text-align: center;
    background: #f8f8f8;
    box-shadow: 0 -6px #e5e6e6 inset;
    border-radius: 5px; }
    .blocks .wrapper article img {
      width: 55px;
      height: 55px; }
    .blocks .wrapper article h3 {
      color: #7f8c8c;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 125px;
      padding-bottom: 16px; }
    .blocks .wrapper article p {
      color: #777777;
      padding: 15px;
      line-height: 21px; }
    .blocks .wrapper article a {
      display: inline-block;
      background: #9addfb;
      box-shadow: 0 -6px #81d4fa inset;
      color: white;
      font-size: 14px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      padding: 18px 51px; }
      .blocks .wrapper article a:hover, .blocks .wrapper article a.active {
        background: #e8645a;
        box-shadow: 0 -6px #e2534b inset; }
      .blocks .wrapper article a:active {
        box-shadow: 0 -6px #e8645a inset; }
    .blocks .wrapper article:last-child {
      float: right;
      margin-right: 0; }
    .blocks .wrapper article:nth-child(1) {
      background: #f8f8f8 url("..//images/icon1.png") no-repeat center 15%; }
      .blocks .wrapper article:nth-child(1):hover, .blocks .wrapper article:nth-child(1).active {
        background: white url("..//images/icon1Hover.png") no-repeat center 15%; }
    .blocks .wrapper article:nth-child(2) {
      background: #f8f8f8 url("..//images/icon2.png") no-repeat center 15%; }
      .blocks .wrapper article:nth-child(2):hover {
        background: white url("..//images/icon2Hover.png") no-repeat center 15%; }
    .blocks .wrapper article:nth-child(3) {
      background: #f8f8f8 url("..//images/icon3.png") no-repeat center 15%; }
      .blocks .wrapper article:nth-child(3):hover {
        background: white url("..//images/icon3Hover.png") no-repeat center 15%; }
    .blocks .wrapper article:nth-child(4) {
      background: #f8f8f8 url("..//images/icon4.png") no-repeat center 15%; }
      .blocks .wrapper article:nth-child(4):hover {
        background: white url("..//images/icon4Hover.png") no-repeat center 15%; }

.gallery {
  background: #ececec url("..//images/pathMiddle.png") repeat-x top center;
  height: 400px;
  position: relative; }
  .gallery .wrapper article {
    text-align: center; }
    .gallery .wrapper article h1 {
      padding-top: 75px;
      color: #e1524b;
      font-family: "Myriad Pro";
      font-size: 40px; }
    .gallery .wrapper article p {
      color: #777777;
      font-family: "Myriad Pro";
      line-height: 21px; }
  .gallery .wrapper .left {
    float: left;
    position: absolute;
    top: 265px; }
  .gallery .wrapper .center {
    position: relative;
    top: 27px;
    z-index: 1; }
  .gallery .wrapper .right {
    float: right;
    position: relative;
    bottom: 275px; }
  .gallery .wrapper img {
    border-radius: 10px;
    display: block;
    margin: 0 auto; }

.economy {
  margin-top: 200px; }
  .economy .wrapper aside.left {
    width: 200px;
    float: left; }
    .economy .wrapper aside.left h4 {
      color: #7f8c8c;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 40px; }
    .economy .wrapper aside.left ul {
      line-height: 26px; }
      .economy .wrapper aside.left ul li {
        list-style: url("..//images/arrowList.png");
        margin-left: 20px; }
  .economy .wrapper aside.center {
    display: block;
    float: left;
    width: 45%;
    margin-left: 120px;
    margin-top: -200px; }
    .economy .wrapper aside.center p {
      text-align: center;
      text-transform: uppercase;
      color: #777777;
      line-height: 25px; }
      .economy .wrapper aside.center p a {
        color: #ef5350; }
        .economy .wrapper aside.center p a:hover {
          text-decoration: underline; }
    .economy .wrapper aside.center article {
      width: 120px;
      float: left;
      margin-left: 11px;
      text-align: center; }
      .economy .wrapper aside.center article img {
        position: relative;
        top: 25px; }
      .economy .wrapper aside.center article p {
        color: #7f8c8c;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold; }
      .economy .wrapper aside.center article h3 {
        color: #7f8c8c;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 24px;
        margin-right: 1px; }
    .economy .wrapper aside.center h3 {
      text-align: center;
      color: #777777;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 35px; }
  .economy .wrapper aside.right {
    display: block;
    width: 270px;
    float: right;
    margin-top: -195px;
    margin-right: 10px; }
    .economy .wrapper aside.right h4 {
      color: #777777;
      text-transform: uppercase;
      font-weight: bold; }
    .economy .wrapper aside.right p {
      position: relative;
      color: #777777;
      line-height: 25px;
      background: #f8f8f8;
      padding: 15px;
      margin-top: 30px;
      margin-bottom: 10px; }
      .economy .wrapper aside.right p:after {
        display: block;
        position: absolute;
        top: 105px;
        left: 20px;
        content: "";
        border: 12px solid transparent;
        border-top: 12px solid #f8f8f8;
        border-right: 12px solid #f8f8f8; }
    .economy .wrapper aside.right a {
      color: #e2534b;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      margin-left: 60px; }

footer {
  background: #81d4fa url("..//images/pathBottom.png") repeat-x top; }
  footer .wrapper .logo {
    float: left;
    margin-top: 37px;
    margin-bottom: 24px; }
    footer .wrapper .logo a h1 {
      font-size: 30px;
      color: white;
      font-family: Micra;
      font-weight: bold; }
    footer .wrapper .logo a p {
      color: white;
      font-size: 25px;
      font-family: RobotoLight;
      letter-spacing: 1px;
      margin-left: 124px;
      margin-top: -9px; }
    footer .wrapper .logo p {
      width: 248px;
      color: white;
      line-height: 23px;
      margin-top: 33px; }
  footer .wrapper .footerMenu {
    float: left;
    margin-top: 52px;
    margin-left: 50px; }
    footer .wrapper .footerMenu h4 {
      color: white;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px; }
    footer .wrapper .footerMenu ul {
      width: 200px;
      margin-top: 37px;
      margin-left: 35px; }
      footer .wrapper .footerMenu ul li {
        color: white;
        line-height: 23px;
        list-style: url("..//images/arrowList2.png"); }
        footer .wrapper .footerMenu ul li a:hover {
          text-decoration: underline; }
  footer .wrapper .contacts {
    float: left;
    margin-top: 52px;
    margin-left: 130px; }
    footer .wrapper .contacts h4 {
      color: white;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px; }
    footer .wrapper .contacts p {
      margin-top: 37px;
      color: white;
      line-height: 23px; }
      footer .wrapper .contacts p span {
        font-size: 20px;
        margin-left: 20px; }
  footer .socials {
    background: rgba(0, 0, 0, 0.1);
    margin-top: 20px; }
    footer .socials .wrapper ul {
      float: right; }
      footer .socials .wrapper ul li {
        display: inline-block;
        padding: 14px 13px 12px; }

/*# sourceMappingURL=main.css.map */
